@font-face {
  font-family: "JosefinSans-bold";
  src: url("../font/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../font/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../font/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../font/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../font/Raleway-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("../font/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "MrsSheppards-Regular";
  src: url("../font/MrsSheppards-Regular.ttf");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../font/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Myriad-Pro-Regular";
  src: url("../font/Myriad-Pro-Regular.ttf");
}
body {
  max-width: 1564px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.nav, .social {
  margin: 0;
  padding: 0;
}
.nav__item, .social__item {
  display: inline-block;
  list-style-type: none;
}
.nav__link, .social__link {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}

.header {
  position: relative;
}
.header__logo {
  font-family: "JosefinSans-bold";
  font-size: 70px;
  line-height: 145px;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}
.header__logo-link {
  text-decoration: none;
  color: #000000;
}
.header__logo::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  z-index: 1;
  background-color: #e1d9bd;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu .btnOpen {
  border: 0;
  background: transparent;
  display: none;
  outline: 0;
}
.menu__left .nav__child {
  position: absolute;
  text-align: center;
  opacity: 0;
  z-index: -1;
  transform: translateY(10%);
  transition: all 0.5s ease;
  padding: 12px 0px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 4px #afafaf;
}
.menu__left .nav__child--item {
  display: block;
}
.menu__left .nav__link {
  font-family: "OpenSans-Regular";
  font-size: 13px;
  color: #000000;
  line-height: 36px;
  position: relative;
  text-transform: uppercase;
}
.menu__left .nav__link .fas {
  position: absolute;
  top: 5%;
  left: 100%;
  padding-left: 3px;
}
.menu__left .nav__item {
  padding: 10px;
}
.menu__left .nav__item--close {
  display: none;
}
.menu__left .nav__item:hover > .nav__link {
  color: #b59f5b;
}
.menu__left .nav__item:hover .nav__child {
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
}
.menu__right .social-button {
  background: transparent;
  border: 0;
  font-size: 24px;
  display: none;
}
.menu .social {
  margin: 0;
}
.menu .social__item {
  padding: 10px;
  display: inline-block;
  list-style-type: none;
}
.menu .social__link {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  color: #000000;
  line-height: 47px;
  transition: all 0.3s ease;
}
.menu .social__link:hover {
  color: #8ccbf7;
}

.featured-posts {
  display: flex;
  justify-content: space-between;
}
.featured-posts__content {
  width: 33.33%;
  padding-left: 4px;
  position: relative;
}
.featured-posts__content:nth-child(1) {
  padding-left: 0;
}
.featured-posts__wrapper {
  width: 100%;
  max-height: 360px;
}
.featured-posts__image {
  width: 100%;
}
.featured-posts__detail {
  width: 90%;
  border: 3px solid #675e42;
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
}
.featured-posts__title {
  font-family: "JosefinSans-bold";
  font-size: 20px;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.featured-posts__category {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.featured-posts__category-link {
  color: #b59f5b;
  text-decoration: none;
  padding: 0px 2px;
}
.featured-posts__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #ffffff;
}
.featured-posts__date {
  font-family: "OpenSans-Light";
  font-size: 12px;
  line-height: 40px;
  margin: 0;
}
.featured-posts__comment {
  font-family: "Raleway-Regular";
  font-size: 12px;
}
.featured-posts__comment-link {
  text-decoration: none;
  color: #ffffff;
}
.featured-posts__comment-link :first-child {
  color: #b59f5b;
}

.featured-area {
  position: relative;
}

.slide-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.custom-dots {
  list-style: none;
  display: flex;
}
.custom-dots > :nth-child(n) {
  display: flex;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 50%;
  margin: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.custom-dots .slick-active {
  border: 1px solid #000000;
}

.custom-dots .slick-active .dot {
  background-color: #000000;
}

.main {
  max-width: 1140px;
  margin: 85px auto;
  padding: 0 15px;
  display: flex;
}
.main .main-content {
  flex-basis: 75%;
  padding-right: 110px;
}
.main .main-content .post {
  position: relative;
  margin: 50px 0px 120px 0px;
}
.main .main-content .post__thumbnail {
  width: 50%;
  float: left;
}
.main .main-content .post__description {
  width: 50%;
  float: left;
}
.main .main-content .post::before {
  content: "";
  display: block;
  clear: both;
}
.main .main-content .post__header {
  position: relative;
  margin: 0px 25px 0px 0px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 50px;
}
.main .main-content .post__header::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 120%;
  right: 0;
  top: -30px;
  padding-top: 30px;
  left: inherit;
  border: 3px solid #dbd0b0;
}
.main .main-content .post__category-link {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  color: #b59f5b;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.main .main-content .post__title {
  font-family: "JosefinSans-bold";
  font-size: 20px;
  color: #000000;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}
.main .main-content .post__time {
  display: flex;
  align-items: center;
}
.main .main-content .post__date {
  font-family: "OpenSans-Light";
  font-size: 12px;
  color: #9a9a9a;
  line-height: 40px;
  padding-right: 10px;
}
.main .main-content .post__author {
  font-family: "OpenSans-Bold";
  font-size: 12px;
  color: #000000;
  line-height: 40px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.main .main-content .post__author:hover {
  color: #8ccbf7;
  text-decoration: underline;
}
.main .main-content .post__content {
  padding-left: 50px;
  margin-bottom: 20px;
}
.main .main-content .post__content-preview {
  font-family: "OpenSans-Regular";
  font-size: 15px;
  color: #787878;
  line-height: 22px;
  margin-top: 30px;
}
.main .main-content .post__footer {
  margin-bottom: 60px;
  margin-top: 50px;
}
.main .main-content .post__footer::before {
  content: "";
}
.main .main-content .post__text {
  font-family: "OpenSans-Regular";
  font-size: 15px;
  color: #787878;
  line-height: 22px;
  margin-top: 30px;
}
.main .main-content .post__more {
  font-family: "OpenSans-Bold";
  font-size: 32px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  line-height: 10px;
  margin: 0px 0px 45px 0px;
  transition: all 0.3s ease;
}
.main .main-content .post__more:hover {
  color: #8ccbf7;
}
.main .main-content .post__icon {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #eeeeee;
  padding-bottom: 10px;
}
.main .main-content .post__icon-left {
  font-family: "OpenSans-Regular";
  font-size: 12px;
  color: #000000;
}
.main .main-content .post__icon-right {
  font-family: "Raleway-Regular";
  font-size: 12px;
}
.main .main-content .post__icon-right .social__link {
  padding-right: 10px;
  transition: all 0.3s ease;
}
.main .main-content .post__icon-right .social__link:hover {
  color: #8ccbf7;
}
.main .main-content .post__comment-link {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}
.main .main-content .post__comment-link:hover {
  color: #8ccbf7;
}
.main .sidebar {
  flex-basis: 25%;
}
.main .sidebar .about-me {
  position: relative;
  min-height: 350px;
  border: 3px solid #dbd0b0;
  margin-top: 105px;
  padding-top: 106px;
  box-sizing: border-box;
}
.main .sidebar .about-me__avatar {
  width: 195px;
  height: 195px;
  display: block;
  position: absolute;
  top: -99px;
  left: 50%;
  transform: translateX(-50%);
}
.main .sidebar .about-me__title {
  font-family: "JosefinSans-bold";
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.main .sidebar .about-me__desc {
  font-family: "OpenSans-Italic";
  font-size: 15px;
  color: #787878;
  text-align: center;
  padding: 0 25px;
}
.main .sidebar .about-me__follow {
  font-family: "MrsSheppards-Regular";
  font-size: 24px;
  color: #b59f5b;
  text-align: center;
}
.main .sidebar .about-me .social {
  text-align: center;
  transition: color 0.3s ease;
}
.main .sidebar .about-me .social__item {
  padding-right: 20px;
}
.main .sidebar .about-me .social__link:hover {
  color: #8ccbf7;
}
.main .news-letter {
  margin-top: 35px;
}
.main .news-letter__title {
  font-family: "JosefinSans-bold";
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  margin: 25px 0px;
}
.main .news-letter__title::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 3px;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e1d9bd;
}
.main .news-letter__input {
  color: #8ccbf7;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 16px 30px;
  outline: 0;
  background-color: #f4f7f6;
}
.main .news-letter__btn {
  font-family: "Raleway-Bold";
  font-size: 14px;
  color: #ffffff;
  margin-top: 18px;
  border: 0;
  padding: 15px;
  background-color: #b59f5b;
  width: 100%;
  outline: 0;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main .news-letter__btn:hover {
  background-color: #edd99c;
  color: #000000;
}
.main .sidebar-instagram {
  margin-top: 35px;
}
.main .sidebar-instagram__title {
  font-family: "JosefinSans-bold";
  font-size: 14px;
  position: relative;
  line-height: 30px;
  margin: 25px 0px;
  text-transform: uppercase;
  text-align: center;
}
.main .sidebar-instagram__title::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 3px;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e1d9bd;
}
.main .sidebar-instagram__pics {
  margin-top: 40px;
}
.main .sidebar-instagram__pics-item {
  transition: all 0.3s ease-out;
  display: inline-block;
  opacity: 1;
}
.main .sidebar-instagram__pics-item:hover {
  opacity: 0.7;
}
.main .sidebar-categories {
  margin-top: 35px;
}
.main .sidebar-categories__title {
  font-family: "JosefinSans-bold";
  font-size: 14px;
  position: relative;
  line-height: 30px;
  margin: 25px 0px;
  text-transform: uppercase;
  text-align: center;
}
.main .sidebar-categories__title::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 3px;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e1d9bd;
}
.main .sidebar-categories__item {
  border-bottom: 1px solid #dddddd;
  padding: 12px 0px;
  display: block;
}
.main .sidebar-categories__item-link {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease;
}
.main .sidebar-categories__item-link:hover {
  color: #8ccbf7;
}
.main .sidebar-categories__item-number {
  font-family: "Raleway-Regular";
  font-size: 12px;
  color: #b59f5b;
}
.main .recent-posts {
  margin-top: 35px;
}
.main .recent-posts__title {
  font-family: "JosefinSans-bold";
  font-size: 14px;
  position: relative;
  line-height: 30px;
  margin: 25px 0px;
  text-transform: uppercase;
  text-align: center;
}
.main .recent-posts__title::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 3px;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e1d9bd;
}
.main .recent-posts .post {
  margin-bottom: 22px;
}
.main .recent-posts .post__image {
  float: left;
  transition: all 0.3s ease;
}
.main .recent-posts .post__image:hover {
  opacity: 0.7;
}
.main .recent-posts .post__content {
  width: 195px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
}
.main .recent-posts .post__title {
  font-family: "JosefinSans-bold";
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
.main .recent-posts .post__date {
  font-family: "OpenSans-Light";
  font-size: 12px;
  margin-top: 0px;
}
.main .recent-posts .post__link {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}
.main .recent-posts .post__link:hover {
  color: #8ccbf7;
}
.main .recent-posts .post::after {
  content: "";
  display: block;
  clear: both;
}
.main .recent-posts__search {
  margin-top: 40px;
  position: relative;
}
.main .recent-posts__search-input {
  width: 100%;
  padding: 18px 20px;
  border: 0;
  background-color: #f4f7f6;
  outline: 0;
  box-sizing: border-box;
}
.main .recent-posts__search-btn {
  position: absolute;
  top: 0;
  left: 82%;
  padding: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #b59f5b;
  color: #ffffff;
  transition: all 0.3s ease;
}
.main .recent-posts__search-btn:hover {
  background-color: #edd99c;
}
.main .banner {
  margin-top: 40px;
}
.main .banner__content {
  margin-top: 35px;
}
.main .banner__title {
  font-family: "JosefinSans-bold";
  font-size: 14px;
  color: #000000;
  position: relative;
  line-height: 30px;
  margin: 25px 0px;
  text-transform: uppercase;
  text-align: center;
}
.main .banner__title::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 3px;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e1d9bd;
}
.main .facebook-page {
  margin-top: 35px;
}
.main .facebook-page .fb-page {
  margin-top: 10px;
}
.main .facebook-page__title {
  font-family: "JosefinSans-bold";
  font-size: 14px;
  position: relative;
  line-height: 30px;
  margin: 25px 0px;
  text-transform: uppercase;
  text-align: center;
}
.main .facebook-page__title::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 3px;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e1d9bd;
}
.main .tagcloud {
  margin-top: 35px;
}
.main .tagcloud__title {
  font-family: "JosefinSans-bold";
  font-size: 14px;
  position: relative;
  line-height: 30px;
  margin: 25px 0px;
  text-transform: uppercase;
  text-align: center;
}
.main .tagcloud__title::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 3px;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e1d9bd;
}
.main .tagcloud__link {
  font-family: "OpenSans-Bold";
  font-size: 12px;
  color: #000000;
  margin: 0px 5px 5px 0px;
  padding: 2px 8px;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
  text-decoration: none;
  display: inline-block;
  transition: border 0.3s ease;
}
.main .tagcloud__link:hover {
  border: 3px solid #e1d9bd;
}

.instagram {
  position: relative;
}
.instagram__title {
  font-family: "JosefinSans-bold";
  font-size: 18px;
  color: #000000;
  line-height: 15px;
  margin: 50px 0px 10px 0px;
  text-align: center;
  text-transform: uppercase;
}
.instagram__sub-title {
  position: relative;
  font-family: "MrsSheppards-Regular";
  font-size: 24px;
  color: #b59f5b;
  text-align: center;
  font-weight: 400;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram__sub-title::after {
  content: "instagram";
  display: block;
  margin: 0px 0px 5px 10px;
}
.instagram .list-posts {
  display: flex;
}
.instagram .list-posts__item {
  flex-grow: 1;
  width: 185px;
  height: 185px;
  overflow: hidden;
  padding-right: 2px;
  outline: 0;
  cursor: pointer;
  transition: all 0.4s ease-out;
  opacity: 1;
}
.instagram .list-posts__item:hover {
  opacity: 0.6;
}
.instagram .list-posts__item:nth-last-child(1) {
  padding-right: 0px;
}
.instagram .list-posts__image {
  width: 100%;
}

.footer {
  margin-top: 25px;
}
.footer__top {
  background-color: #f4f7f6;
}
.footer__top .footer-social {
  text-align: center;
}
.footer__top .footer-social__item {
  padding: 10px 15px;
  display: inline-block;
  list-style-type: none;
}
.footer__top .footer-social__link {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  color: #000000;
  line-height: 60px;
  transition: all 0.3s ease;
}
.footer__top .footer-social__link:hover {
  color: #8ccbf7;
}
.footer__bottom {
  text-align: center;
  margin: 25px 0px 30px 0px;
}
.footer__on-top {
  font-family: "MrsSheppards-Regular";
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer__on-top:hover {
  color: #8ccbf7;
}
.footer__copy-right {
  font-family: "OpenSans-Light";
  font-size: 12px;
  color: #000000;
}

@media screen and (max-width: 992px) {
  .header {
    margin-bottom: 120px;
  }

  .menu .btnOpen {
    display: block;
    cursor: pointer;
    margin: auto 10px;
    padding: 10px;
    font-size: 24px;
  }
  .menu__left {
    position: fixed;
    z-index: 999;
    background-color: #f5f5f5;
    top: 0;
    width: 300px;
    height: 100%;
    left: -300px;
    transition: 0.3s ease;
    overflow: auto;
  }
  .menu__left--show {
    left: 0;
    opacity: 1;
  }
  .menu .nav__item {
    display: block;
  }
  .menu .nav__item--close {
    display: block;
    position: absolute;
    right: 15px;
  }
  .menu .nav__child {
    position: relative;
    opacity: 1;
    text-align: left;
    background-color: #f5f5f5;
    border: 0;
    box-shadow: none;
    transition: none;
    transform: none;
  }
  .menu .social {
    margin-left: auto;
  }
  .menu__right .social-button {
    display: block;
    cursor: pointer;
    margin: auto 10px;
    padding: 10px;
    font-size: 24px;
    outline: 0;
  }
  .menu__right .social {
    position: absolute;
    opacity: 0;
    transform: translateY(50%);
    right: 0;
    padding: 5px 20px;
  }
  .menu__right .social__item {
    display: block;
    padding: 0;
  }
  .menu__right .show {
    opacity: 1;
    transform: translateY(0%);
    transition: 0.3s ease;
    z-index: 1;
  }

  .main {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
