body {
  max-width: 1564px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.nav, .social {
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    list-style-type: none;
  }

  &__link {
    @include reset-link (none, $color-black);
    transition: all 0.3s ease;
  }
}
