@font-face {
  font-family: "JosefinSans-bold" ;
  src: url("../font/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../font/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../font/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../font/Raleway-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../font/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "MrsSheppards-Regular";
  src: url("../font/MrsSheppards-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../font/Raleway-Bold.ttf")
}

@font-face {
  font-family: "Myriad-Pro-Regular";
  src: url("../font/Myriad-Pro-Regular.ttf")
}
