@mixin format-text ($family, $size, $color, $line-height) {
  font-family: $family;
  font-size: $size;
  color: $color;
  line-height: $line-height;
}

@mixin reset-link ($text-decoration, $color) {
  text-decoration: $text-decoration;
  color: $color;
}

@mixin title ($family, $size, $color, $line-height) {
  @include format-text($family, $size, $color, $line-height);
  position: relative;
  line-height: 30px;
  margin: 25px 0px;
  text-transform: uppercase;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 3px;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-tawny;
  }
}
