$font-opensans-regular: "OpenSans-Regular";
$font-josefinsans-bold: "JosefinSans-bold";
$font-opensans-bold: "OpenSans-Bold";
$font-opensans-light: "OpenSans-Light";
$font-raleway-regular: "Raleway-Regular";
$font-opensans-italic: "OpenSans-Italic";
$font-mrssheppards-regular: "MrsSheppards-Regular";
$font-raleway-bold: "Raleway-Bold";

$color-black : #000000;
$color-white: #ffffff;
$color-silver: #e7e7e7;
$color-gray: #dddddd;
$color-silver_1 : #afafaf;
$color-silver_2: #9a9a9a;
$color-silver_3: #787878;
$color-silver_4: #c6c6c6;
$color-sky_blue: #8ccbf7;
$color-tawny: #e1d9bd;
$color-tawny_1: #b59f5b;
$color-tawny_2: #eeeeee;
$color-tawny_3: #edd99c;
$color-tawny_4: #dbd0b0;
$color-tawny_5: #675e42;
$color-blue_1:#f4f7f6;

$whitesmoke : #f5f5f5;
